$background_color_main: rgb(19, 56, 124);
$component_background_color: rgb(83, 110, 170);

p {
    margin-left: 15%;
    margin-right: 15%;
}
  

.classic { 
    background-color: rgb(253, 253, 253);
}

%table-shared {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.dataTable {
    @extend %table-shared;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#links {
    background-color: $background_color_main;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.pageLink {
    background-color: $component_background_color;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    width: 25%;
    text-align: center;
}

@media (max-width: 1000px) {
    #links {
        background-color: $background_color_main;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .pageLink {
        background-color: $component_background_color;
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
        width: 80%;
        text-align: center;
    }
}

.pageLink {
    a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}

.mainHeader {
    color: $background_color_main;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#aboutMe {
    background-color: $component_background_color;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    text-align: center;
}

.flash-card {
    background-color: $component_background_color;
    color: white;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 200px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.dataTable2 {
    border-collapse: collapse;
    border: 1px solid black;
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.flashCardBack {
    @extend .flash-card;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    height: 150px; 
}

h2 {
    margin-top: 40px;
}

ol {
    margin-left: 40%;
    margin-right: 40%;
}